html, body { margin:0; padding:0; }
html { background-color: #FEEBA0;}
body { font-family: 'IBM Plex Mono', monospace; }
section { 
    min-height: 100vh; 
    padding:0 10%; 
}
section.intro { 
    display:grid;
    background-color: #D41E00; 
    color:#ffffff; 
    grid-template-columns: auto 1fr 1fr auto;
    grid-template-rows: 3fr 1fr;
    grid-column-gap: 2rem; 
    align-items: center; 
    
}

section.intro h1 { 
    margin-top: 0; 
    font-family: 'IBM Plex Sans', sans-serif; 
    font-weight:600; 
    font-size: 7rem; 
    text-align: right; 
    grid-column-start: 2;
    line-height:6rem;
}
section.intro>h2 { 
    margin-top: 0; 
    font-family: 'IBM Plex Sans', sans-serif; 
    font-weight:600; 
    font-size: 7rem; 
    text-align: left; 
    color: black;
    grid-column-start: 3;
    grid-column-end:4;
    line-height:6rem;
}
section.intro img { 
    grid-row-start:2; 
    grid-column-start:3; 
    justify-items:end;
}
section.contents {
    background-color: #b8321a; 
}
section.resources {
    background-color:#922715; 
}
section {
    display:grid;
    color:#ffffff; 
    grid-template-columns: auto 1fr 1fr auto; 
    grid-template-rows: .5fr 1fr 1fr .5fr;
    grid-column-gap: 2rem; 
    align-items: center; 
}
section h2 {
    font-family: 'IBM Plex Sans', sans-serif; 
    font-weight:600; 
    font-size: 7rem; 
    line-height:1rem;
    text-align: left; 

    color:black;
    margin-bottom:0;
}
section ul {
    grid-column-start: 3;
    grid-row-start:3;
    list-style-type:none;
    padding-left:0;
    margin-left:0;
    font-family: 'IBM Plex Sans', sans-serif; 
    font-weight:600; 
    font-size:3rem;
    line-height:3rem;
}
section li {
    padding-left:0;
    margin-left:0;
    margin-bottom:1rem;
}
section a, section a:visited {
    color:black;
    text-decoration:none;
}
section a:hover {
    color:white;
    text-decoration:none;
}
section.contents h2 {
    grid-column-start: 3;
    grid-row-start:2;
}
section.resources h2 {
    grid-column-start: 3;
    grid-row-start:2;
}