html { background: rgb(195,105,34);
    background: linear-gradient(0deg, rgba(195,105,34,1) 0%, rgba(253,187,45,1) 100%); }
body { font-family: 'IBM Plex Sans', sans-serif; color: white; }
a:visited { color: #333333; text-decoration: none;}
header, section, footer {
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    grid-gap: 1rem;
}
header { grid-template-columns: none; }
h1 { color:black;}
.profile_thumb {
    background-color:antiquewhite;
    color:darkslategrey;
}
.profile_thumb picture { grid-area: pic;}
.profile_thumb h3 { font-size: 1.2rem; }
.profile_thumb p.major { margin-bottom: 0;}
.profile_thumb p.year { margin-top: 0;}
.profile_thumb {
    display:grid;
    max-height: 200px;
    grid-template-columns: 200px auto;
    gap: 10px;
    grid-template-areas: "pic info";
}
.profile_thumb p { font-size:.9rem;}

@media (min-width: 600px) {
    section { grid-template-columns: repeat(2, 1fr); }
    footer { grid-template-columns: repeat(2, 1fr); }
    footer img { grid-column-start: 2; }
}
@media (min-width: 900px) {
    section { grid-template-columns: repeat(3, 1fr); }
    footer { grid-template-columns: repeat(3, 1fr); }
    footer img { grid-column-start: 3; }
}
footer {  margin-top:3rem;  }
footer img { justify-self: end;}