html, body { margin:0; padding:0; }
html { background-color: #FEEBA0;}
body { font-family: 'IBM Plex Mono', monospace; }
section { 
    min-height: 100vh; 
    padding:0 10%; 
}
section.intro { 
    display:grid;
    background-color: #D41E00; 
    color:#ffffff; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 2rem; 
    align-items: center; 
    height:100vh;
}

section.intro h1 { 
    margin-top: 0; 
    font-family: 'IBM Plex Sans', sans-serif; 
    font-weight:600; 
    font-size: 5rem; 
    text-align: right; 
    grid-column-start: 1;
}
section.intro h2 { margin-top: 0; font-family: 'IBM Plex Sans', sans-serif; font-weight:600; font-size: 5rem; text-align: left; color: black;grid-column-start: 2;}
section.intro img { grid-row-start:3;}
section.contents { background-color: #481D01; grid-template-rows: 20vh auto; }
section.contents a { color:#ffffff;}
section.contents h2 {  font-family: 'IBM Plex Sans', sans-serif; font-weight:600; font-size: 4rem; text-align: left; color: white; margin-bottom:0; }
section.contents ul { color: #ffffff; }
section.contents a:visited { color: #eeeeee;}
section.resources { background-color:#F5631A;}
@media (max-width: 600px) {
    section.intro h1 { font-size:2rem; }
    section.intro h2 { font-size:2rem; }
}
@media (max-width: 900px) {
    section.intro h1 { font-size:2.5rem; }
    section.intro h2 { font-size:2.5rem; }
}