html, body { margin:0; padding:0; }
html { background-color: #FEEBA0;}
body { font-family: 'IBM Plex Mono', monospace; }
section { 
    min-height: 100vh; 
    display:grid; 
    padding:0 10%; 
    grid-column-gap: 2rem; 
}
section.intro h1 { margin-top: 0; font-family: 'IBM Plex Sans', sans-serif; font-weight:600; font-size: 4rem; text-align: right; grid-row: 1 / span 2;}
section.intro { background-color: #D41E00; color:#ffffff; grid-template-columns: 50% 50%; grid-template-rows: 3fr 2fr; align-items: center; }
section.intro h2 { margin-top: 0; font-family: 'IBM Plex Sans', sans-serif; font-weight:600; font-size: 4rem; text-align: left; color: black;}

section.contents { background-color: #481D01; grid-template-rows: 20vh auto; }
section.contents a { color:#ffffff;}
section.contents h2 {  font-family: 'IBM Plex Sans', sans-serif; font-weight:600; font-size: 4rem; text-align: left; color: white; margin-bottom:0; }
section.contents ul { color: #ffffff; }
section.contents a:visited { color: #eeeeee;}
section.resources { background-color:#F5631A;}
@media (max-width: 600px) {
    section.intro h1 { font-size:2rem; }
    section.intro h2 { font-size:2rem; }
}
@media (max-width: 900px) {
    section.intro h1 { font-size:2.5rem; }
    section.intro h2 { font-size:2.5rem; }
}