html { 
    background-color:#111111;
}

body { 
    font-family: freight-text-pro, serif;
    font-size: 22px;
    background-image: url("images/paper-seamless-background.jpeg");
    color: black;
    margin: 0;
}

blockquote { 
    font-family: 'Cormorant Garamond', serif; 
    font-size: .9em;
    margin-left: 2em;
    margin-right: 3em; 
}

h1 { 
    text-align: center;
    font-weight: 400;
    font-size:2.2em;
    font-style: italic;
    background-color:floralwhite;
    grid-column: 2/3;
    border-style: double;
    padding:20px 0;
}

h2 { 
    font-weight: 400;
    font-style: italic;
    font-size: 1em;
    text-align: right;
}

main { 
    display:grid;
    max-width: 900px;
    margin: 0 auto;
    grid-gap: 1rem;
    padding: 100px 20px;
    
}

header, footer { 
    background-image: url("images/geometric-pattern-with-lines-dots_1319-88.jpeg");
    background-attachment: fixed;
    display:grid;
    grid-gap: 1rem;
    grid-template-rows: 70% 30%;
    grid-template-columns: auto 400px auto;
    height: 100vh;
    padding: 0 20px; 
    align-items: center;
}  

p {
    line-height: 150%;
}

@media (min-width: 900px) {
    blockquote { font-size: 28px; }
}
@media (min-width: 600px) {
    blockquote { font-size: 24px; }
}